{
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prefer-const": "warn",
    "semi": "error",
    "no-unused-expressions": "warn"
  },
  "env": {
    "es6": true
  }
}
