// SCSS for printing the radar
@media print {

  @page {
    margin: 5mm;
  }

  body {
    display: inline;
    overflow: visible;
  }

  footer,
  #radar-plot,
  #home-link,
  .error-container {
    display: none;
  }

  .hintContainer {
    width: 100%;
    border: 1px solid red;
    text-align: center;
  }

  header {

    .btn-toolbar {
      display: none;
    }

    .search-box {
      display: none;
    }

    .print {
      display: none;
    }

    .platform {
      display: block;
      text-align: center;
    }
  }

  #radar-container {
    .quadrant-table {
      width: 100%;
      margin: 0 1%;
      align-items: center;
      padding: 2%;
    }

    h4 {
      text-transform: capitalize;
    }
  }
}
