@import 'constants';
@import 'tip';
@import 'form';
@import 'error';
@import 'header';
@import 'screen';
@import 'footer';
@import "~bootstrap/scss/bootstrap";

@media screen {

  html {
    overflow-y: scroll;
  }

  .legend {
    font-size: 90%;
    margin: 0 0 20px 0;
  }

  #radar {
    margin: 0 auto 50px auto;
    position: relative;

    #radar-container {
      height: 938px;
      position: relative;
    }

    @media (max-width: 992px) {
      #radar-container {
        height: auto;
      }
    }

    // Radar SVG
    svg#radar-plot {
      margin: 0 auto;
      transition: all 1s ease;
      overflow: visible;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;

      path {
        &.ring-arc-3 {
          stroke: none;
          fill: $grey-light;
        }

        &.ring-arc-2 {
          stroke: none;
          fill: $grey;
        }

        &.ring-arc-1 {
          stroke: none;
          fill: $grey-dark;
        }

        &.ring-arc-0 {
          stroke: none;
          fill: $grey-darkest;
        }
      }

      .blip-link {
        text-decoration: none;
        cursor: pointer;
      }

      .quadrant-group {
        cursor: pointer;
      }

      circle, polygon, path {
        &.first {
          fill: $green;
          stroke: none;
        }

        &.second {
          fill: $blue;
          stroke: none;
        }

        &.third {
          fill: $orange;
          stroke: none;
        }

        &.fourth {
          fill: $violet;
          stroke: none;
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 9px;
          font-style: italic;
          fill: $white;
        }

        &.line-text {
          font-weight: bold;
          text-transform: uppercase;
          fill: $black;
          font-size: 12px;
        }
      }
    }
  }

  div.quadrant-table {
    z-index: 1;
    display: none;
    position: absolute;
    overflow: hidden;

    .quadrant-table__name {
      display: none;
    }

    h3 {
      text-transform: uppercase;
      font-size: $baseFont;
      margin: 0;
      font-weight: bold;
    }

    h4 {
      text-transform: uppercase;
      font-size: 90%;
      font-weight: bold;
      margin-bottom: 2%;
    }

    &.first {
      text-align: right;
      &.selected {
        right: 0;
      }

      ul {
        li {
          .blip-list-item {
            @media (max-width: 992px) {
              border: 1px solid $green;
            }

            &.highlight2 {
              i {
                background-color: $green;
                color: white;
              }

              background-color: $green;
              color: white;
            }
          }
        }
      }
    }

    &.second {
      &.selected {
        left: 0;
        @media(min-width: 992px) {
          margin-left: 4%;
        }
      }

      ul {
        li {
          .blip-list-item {
            @media (max-width: 992px) {
              border: 1px solid $blue;
            }

            &.highlight2 {
              i {
                background-color: $blue;
                color: white;
              }

              background-color: $blue;
              color: white;
            }
          }
        }
      }
    }

    &.third {
      &.selected {
        left: 0;
        @media(min-width: 992px) {
          margin-left: 4%;
        }
      }

      ul {
        li {
          .blip-list-item {
            @media (max-width: 992px) {
              border: 1px solid $orange;
            }

            &.highlight2 {
              i {
                background-color: $orange;
                color: white;
              }

              background-color: $orange;
              color: white;
            }
          }
        }
      }
    }

    &.fourth {
      text-align: right;
      &.selected {
        right: 0;
      }

      ul {
        li {
          .blip-list-item {
            @media (max-width: 992px) {
              border: 1px solid $violet;
            }

            &.highlight2 {
              i {
                background-color: $violet;
                color: white;
              }

              background-color: $violet;
              color: white;
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      &.selected {
        display: block;
        width: 30%;
      }
    }

    @media (max-width: 992px) {
      &.selected {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
      }
    }

    ul {
      padding: 0;
      margin-left: 0;

      @media (max-width: 992px) {
        width: 60%;
      }

      li {
        list-style-type: none;
        padding-bottom: 1%;

        .blip-list-item {
          padding: 1%;
          margin-bottom: 1%;
          border-radius: 2px;
          cursor: pointer;
          font-size: 90%;
          font-weight: 400;
          line-height: 1.2;

          &.highlight {
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
          }
        }

        .blip-item-description {
          max-height: 0;
          overflow: hidden;
          width: 100%;

          p {
            margin: 0;
            border-bottom: 1px solid rgb(119, 119, 119);
            padding: 20px 20px 20px 10px ;
            color: $grey-text;
            font-size: 90%;
            line-height: 1.2;
            text-align: left;

            a {
              color: #007bff;

              &:hover {
                color: #0056b3;
              }
            }
          }

          transition: max-height 0.2s ease;

          &.expanded {
            transition: max-height 0.5s ease 0.2s;
            max-height: 1000px;
          }
        }
      }
    }
  }

  @media(max-width: 992px) {
    div.quadrant-table {
      position: relative;
    }
  }

  .share-btn {
    background: url("../images/share.svg") no-repeat center;
    float: right;
  }

  .tooltip > .tooltip-inner {
    padding: 1% 1% 1% 1%;
    max-width: content-box;
    min-width: auto;
  }

  .oldTech {
    color: gray;

    &.expanded {
      color: white;
    }
  }

  .opaque {
    opacity: 0.3;
  }

  .noPointerEvent {
    pointer-events: none;
  }
}
